page-editorial {
  .toolbar-background {
    background-color: color($colors, beenews, base);
  }

  .bar-button-menutoggle {
    color: white;
  }

  .toolbar {
    color: white;
  }

  .beenews-logo {
    height: 50% !important;
    width: auto !important;
  }

  .main-content {
    margin: 0px;
  }
}
