<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button color="light" icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/imgs/logo.png" class="beenews-logo" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <ion-list [hidden]="!listing">
      <ion-item #item *ngFor="let editorial of editorials" (click)="openNews(editorial)">
        {{editorial.name}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
