<ion-header>
  <ion-navbar color="dark">
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{publication.editorial.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="page-content">
    <!--Add sidebar-move to move with body-->
    <div id="page-content-scroll">

      <div>
        <h4 class="publication-title">{{publication.title}}</h4>
        <p class="publication-author-details">
          Postado por {{publication.created_by.get_full_name()}}
          <a href="#">{{publication.created_at |amLocale:'pt-BR' | amTimeAgo }}</a>
          em <a (click)="openNews(publication.editorial)" href="#">{{publication.editorial.name}}</a>
        </p>
      </div>

      <div class="single-item">
        <img src="{{publication.cover_image}}" alt="img">
      </div>

      <div class="news-article-share full-bottom">
        <button ion-button full (click)="share()" color="green-theme"><i class="fa fa-whatsapp"></i>Compartilhar</button>
        <div class="clear"></div>
      </div>

      <div class="content">
        <div class="content" [innerHtml]="publication.content"></div>
        <a *ngIf="!is_liked" href="#" (click)="performLike()" [ngClass]="{'mail-color':!is_liked,'facebook-color':is_liked}" class="social-button"><i
            class="fa fa-thumbs-up"></i>Curtir</a>
        <a *ngIf="is_liked" [ngClass]="{'mail-color':!is_liked,'facebook-color':is_liked}" class="social-button"><i class="fa fa-thumbs-up"></i>Curtida</a>
      </div>


      <div class="content">
        <div class="decoration"></div>
      </div>
      <div class="content">


        <div class="commentaries">
          <div class="commentary" *ngFor="let comment of publication_comments">
            <p class="commentary-author"><b>{{comment.commented_by.name}}</b></p>
            <p class="commentary-content">
              {{comment.content}}
            </p>
            <p class="commentary-date">
              {{comment.commented_at | amLocale:'pt-BR' | amTimeAgo}}
            </p>


          </div>
          <div class="formTextareaWrap">
            <label class="field-title contactMessageTextarea" for="contactMessageTextarea">Comentário: </label>
            <textarea [(ngModel)]="new_comment" class="contactTextarea requiredField" id="contactMessageTextarea"></textarea>
            <button (click)="performComment()" ion-button color="green-theme" full>Comentar</button>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>



</ion-content>
