<ion-header>
  <ion-navbar>
    <img src="assets/imgs/logo.png" class="beenews-logo" />
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="content">
    <h4>Recuperar Senha</h4>
    <form [formGroup]="recoverForm" (ngSubmit)="recover()">
      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <button
      ion-button
      block
      type="submit"
      color="beenews"
      class="button-round-md submit-btn"
      [disabled]="!recoverForm.valid">Enviar</button>
    </form>
  </div>
</ion-content>
