page-recover {
  .beenews-logo{
    width: 35%;
    height: 35%;
  }

  .submit-btn{
    margin-top: 20px;
  }

  .back-button.show-back-button{
    color: #ffffff;
  }

  .toolbar-background-md{
    background-color: color($colors, beenews, base);
  }
}
