<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="page-content-scroll">
    <!--Enables this element to be scrolled -->

    <div class="content-fullscreen">
      <div class="page-profile">
        <div class="page-profile-header">
          <a href="#" class="show-gallery" title="Profile Image!"><img data-original="images/pictures/5t.jpg" class="preload-image"
              alt="img"></a>
          <h3>{{user.get_full_name()}}</h3>
          <em *ngIf="my_city!=null"><i class="fa fa-location-arrow"></i>{{my_city}}</em>
          <div class="overlay bg-black"></div>
          <div class='change-image-button'>
            <a (click)="openSelect()">Alterar Cidade</a>
          </div>

        </div>
      </div>
    </div>
    <ion-item [hidden]="true">
      <ion-select okText="Ok" cancelText="Cancelar" [(ngModel)]="my_city" (ionChange)="changeCity()" #city_select>
        <ion-option *ngFor="let city of citys; let i = index" value="{{city.city}}">{{city.city}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="content">
      <div class="page-profile">
        <div class="page-profile-followers">
          <a href="#">
            <i class="fa fa-trophy"></i>
            {{user.points}} pontos
          </a>
          <a href="#">
            <i class="fa fa-user"></i>
            {{user.getUserTypeName()}}
          </a>
          <a (click)="editProfile()">
            <i class="fa fa-edit"></i>
            Editar perfil
          </a>

        </div>

        <div class="decoration"></div>

        <div class="container no-bottom">
          <div class="sidebar-left-small">
            <img data-original="images/pictures/1.jpg" class="preload-image responsive-image half-bottom" alt="img">
            <h4 class="no-bottom">Pontuação</h4>

            <div class="decoration"></div>
            <ul class="font-icon-list">
              <li *ngFor="let reaction of reactions" [hidden]="reaction.item.value==0"><a href="#"><i class="{{reaction.icon}}"></i>{{reaction.item.value}}pts
                  em {{reaction.item.type}}</a></li>
            </ul>
            <br>
          </div>
          <div class="decoration hide-if-responsive"></div>
          <div class="sidebar-right-big">
            <h4>Sobre {{user.name}}</h4>
            <p>
              {{this.user.about}}
            </p>
            <div *ngIf="this.user.editorials?.length>0" class="sidebar-left-small">
              <h4>Editorias</h4>
              <ul>
                <li *ngFor="let editorial of this.user.editorials">{{editorial.name}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>

</ion-content>
