page-contact {
  .toolbar-background {
    background-color: color($colors, beenews, base);
  }

  .bar-button-default-md {
    color: white;
  }

  .toolbar-title-md{
    color: white;
  }

  .submit-btn{
    margin-top: 20px;
  }
}
