<ion-header>

  <ion-navbar>
    <ion-title>Fale Conosco</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form
  (ngSubmit)="sendMessage()"
  [formGroup]="contactForm">
  <ion-item>
    <ion-label>Assunto</ion-label>
    <ion-select formControlName="subject">
      <ion-option
      *ngFor="let subject of subjectOptions"
      value="{{subject}}">
        {{subject}}
      </ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating>Mensagem</ion-label>
    <ion-textarea
    type="text"
    name="message"
    formControlName="message"></ion-textarea>
  </ion-item>
    <button
    ion-button
    block
    class="button-round-md submit-btn"
    color="beenews"
    type="submit"
    [disabled]="!contactForm.valid">Alterar Dados</button>
  </form>
</ion-content>
