page-home {
  ion-card {
    position: relative;
    text-align: left;
    margin: 0;
  }

  .toolbar-background{
    background-color: color($colors, beenews, base);
  }

  .bar-button-menutoggle{
    color: white;
  }

  .toolbar{
    color: white;
  }

  .beenews-logo{
    height: 50% !important;
    width: auto !important;
  }

  .card-title {
    position: absolute;
    top: 70%;
    font-size: 0.8em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    padding: 4px;
  }

  .card-subtitle {
    font-size: 0.6em;
    position: absolute;
    top: 90%;
    width: 100%;
    color: #fff;
    padding: 4px;
  }

  ion-slides.slides {
    height: auto;
  }

  .swiper-pagination {
    bottom: 0px;
  }
  .slider-img {
    margin: auto;
    max-height: 250px;
  }
  .segment-img {
    margin: auto;
    max-height: 250px;
  }

  .content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
