<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button color="light" icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-start (click)="goToProfile()" color="light">
        <ion-icon name="trophy"></ion-icon>
        {{user_points}}
      </button>
    </ion-buttons>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/imgs/logo.png" class="beenews-logo" />
    </ion-title>
  </ion-navbar>
  <!-- <a href="#" menuToggle class="header-icon-1 open-left-sidebar"><i class="fa fa-navicon"></i></a> -->
  <!-- <a href="#" class="header-logo ">BEENILS</a> -->
</ion-header>

<ion-content>
  <div class="slider-container">
    <ion-slides>
      <ion-slide *ngFor="let publication of publications">
        <div class="news-slider" (click)="publicationView(publication.id)">
          <a href="#" class="news-slider-item">
            <img style="height:auto; width: 100%; margin: auto;" class="responsive-image" src="{{publication.cover_image}}"
              alt="img">
            <h3>{{publication.title}}</h3>
          </a>
        </div>
      </ion-slide>
    </ion-slides>
    <button type="submit" ion-button clear class="swiper-button-prev swiper-button-white" (click)="prevSlide()"
      [hidden]="slides.isBeginning()"></button>
    <button type="submit" ion-button clear class="swiper-button-next swiper-button-white" (click)="nextSlide()"
      [hidden]="slides.isEnd()"></button>
  </div>

  <div class="content">
    <div class="home-tabs">
      <ng-container *ngFor="let editorial of editorial_guides; let i=index">
        <a *ngIf="i<3" (click)="changeEditorial(i)" [ngClass]="{'active-home-tab':editorial.is_active}" class="activate-tab-{{i}}">{{editorial.editorial.name}}</a>
      </ng-container>
      <div class="clear"></div>
    </div>
  </div>

  <div [hidden]="!editorial.is_active" *ngFor="let editorial of editorial_guides.slice(0,3); let i=index" class="content"
    id="tab-0">
    <div class="thumb-layout">
      <a style="overflow: hidden;" (click)="publicationView(publication.id)" *ngFor="let publication of editorial.publications"
        href="#">
        <img src="{{publication.cover_image}}">
        <strong>{{editorial.editorial.name}}</strong>
        <em>{{publication.title}}</em>
      </a>
    </div>
    <div class="decoration"></div>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais notícias..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
