<ion-content padding class="signin-content">
  <div class="logo-beenews">
    <img src="assets/imgs/logo.png" class="logo-beenews" />
  </div>
  <div class="login-box">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-list>
        <ion-item>
          <ion-label floating>E-mail</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button block class="button-round-md" color="beenews" type="submit" [disabled]="!loginForm.valid">Entrar</button>
    </form>
    <button type="button" (click)="goToSignUp()" ion-button color="beenews" block clear>Cadastrar</button>
    <button type="button" (click)="goToRecover()" ion-button color="beenews" block clear>Esqueci a senha</button>
  </div>
</ion-content>
