page-signin {
  .logo-beenews{
    display: block;
    margin: 40px auto;
  }

  .login-box{
    background: rgba($color: #fff, $alpha: 0.9);
    padding: 10px;
    border-radius: 10px;
  }

  .item.item-md{
    background: transparent;
    padding-right: 20px;
  }

  .item-input .label-md{
    color: color($colors, beenews, base) !important;
  }

  .item.item-md .checkbox-md {
    margin: 9px 18px 9px 0px;
  }

  .item-inner {
    border-bottom-color: color($colors, beenews, base) !important;
    box-shadow: none !important;
  }

  .signin-content{
    background: color($colors, beenews, base);
  }

}
