<ion-header>
  <div class="header-fixed">
    <a href="#" menuToggle class="header-icon-1 open-left-sidebar"><i class="fa fa-navicon"></i></a>
    <a href="#" class="header-logo">BEENILS</a>
    <a href="#" class="header-icon-2 open-right-sidebar">{{userProvider.getUser().name}}</a>
    <a href="#" class="header-icon-3 open-search-bar">{{user_points}}</a>
  </div>
</ion-header>


<ion-content>
  <div class="main-content">
    <div class="content">
      <div class="thumb-layout">
        <div style="margin-bottom: 18px;" *ngFor="let publication of unapproved_news">
          <a style="overflow: hidden; margin-bottom: 0px" (click)="publicationView(publication.id)" href="#">
            <img src="{{baseUrl}}/{{publication.cover_image}}">
            <strong>{{publication.editorial.name}}</strong>
            <em>{{publication.title}}</em>
          </a>
          <button ion-button color="primary" (click)="submitPublication(publication.id)" full>Submeter</button>
        </div>
      </div>
      <div class="decoration"></div>
    </div>
    <div *ngIf="unapproved_news.length==0">
      <p>Você não tem notícias para submeter</p>
    </div>
  </div>
</ion-content>
