<ion-header>
  <ion-navbar color="beenews">
    <ion-toolbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          <img src="assets/imgs/logo.png" class="beenews-logo"/>
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Termos de Uso</h3>
    <p>Bem-vindo ao Beenews. Por favor, certifique-se de haver entendido todos os Termos de uso descritos abaixo e nossa Política de Privacidade.
      Caso não tenha compreendido não hesite em nos contatar. Ao acessar ou utilizar o serviço você concorda em se sujeitar ao presente instrumento,
      não podendo alegar para qualquer efeito, em juízo ou fora dele, o desconhecimento de seu conteúdo. Se você não for juridicamente capaz, ou não estiver
      de pleno acordo com qualquer um dos termos ou condições estabelecidas nos Termos de uso, o seu uso do Site é proibido.</p>

    <h4>1. Definições</h4>
    <p>“Visitante” é alguém que simplesmente navega o Site. “Membro” é alguém que tenha aberto uma conta no Site. “Usuário” é um Visitante ou um Membro.
      “Conteúdo de Usuário” refere-se a todo o conteúdo (texto, imagem, áudio, vídeo ou qualquer outra forma de mídia) enviado pelo Usuário. “Serviços”
      referem-se a todas as funcionalidades e serviços disponibilizados ao Usuário através do Site.</p>

    <h4>2. Sobre os Termos de uso</h4>
    <p>Ao utilizar o site ou algum dos seus subdomínios, declara que leu e concorda, sem reservas ou restrições, com o Termos de uso, independentemente
      de ser ou não um membro registrado. Caso discorde de algum dos Termos de uso, não deve utilizar este site. O Beenews pode, a qualquer momento e sem
      aviso prévio, alterar ou remover itens dos Termos de uso, nomeadamente, em virtude de necessidades de atualização correspondentes a alterações de
      enquadramento legal. Quaisquer destas modificações produzem efeitos imediatos e efetivos. A utilização do site e seus serviços constitui uma declaração
      de aceitação das alterações, por parte do utilizador, pelo que, aconselhamos que você reveja os Termos de uso com freqüência para que você esteja ciente
      de quaisquer atualizações.</p>

    <h4>3. Condições Gerais</h4>
    <p>Os serviços objeto destes Termos consistem em oferecer uma plataforma que permita ao USUÁRIO, em poucos passos, informar, no ambiente do site Beenews,
       seus dados, as informações relativas à roteiros turísticos que o USUÁRIO supostamente tenha cadastrado e os detalhes quanto aos aspectos financeiros
       do seu plano, para que um plano seja originado por meio do site Beenews.</p>
    <p>O USUÁRIO concorda que o Beenews não tem qualquer responsabilidade ou obrigação pela exclusão ou falha no armazenamento ou na transmissão de qualquer
      conteúdo, bem como o Beenews nega qualquer responsabilidade por quaisquer perdas ou danos decorrentes de seu uso deste Site ou de seu conteúdo. O uso deste Site
      e de seu conteúdo corre por própria conta e risco do USUÁRIO. O USUÁRIO compreende que é o único responsável por qualquer perda ou dano resultante, incluindo,
      mas não se limitando a, qualquer perda de dados ou danos causados a seu computador por vírus que podem ser transferidos para o seu computador durante a
      utilização do Site Os serviços prestados estão submetidos a constantes atualizações e melhorias para adicionar novas funcionalidades ou corrigir eventuais
      falhas. Nesse intervalo pode haver interrupções do sistema, perda de dados e/ou alterações na funcionalidade do Beenews. O USUÁRIO somente terá acesso a alguns
      serviços disponibilizados no Beenews através de cadastro, sendo necessário informar, entre outros dados, endereço de e-mail e senha pessoal e intransferível.
      O USUÁRIO é o único responsável, para todos os fins, pelas operações efetuadas em sua conta, e compromete a não informar seus dados cadastrais a terceiros,
      responsabilizando-se integralmente pelo uso que deles seja feito. O USUÁRIO é o único responsável pela veracidade, integridade, legalidade e correção dos dados
      por ele prestados ou compartilhados durante o uso de quaisquer serviços e ferramentas do Beenews, competindo-lhe, ainda, manter seus cadastros sempre atualizados.
      O Beenews não realiza a conferência dos dados inseridos pelo USUÁRIO, cabendo ao próprio USUÁRIO a verificação sobre a regularidade dessas informações junto aos
      órgãos competentes, bem como a outras fontes que puderem servir como meio de atestar a veracidade das mesmas. O USUÁRIO declara estar ciente de que os serviços
      e conteúdos podem conter ligações a sites ou recursos de terceiros, e que o Beenews não garante a disponibilidade ou exatidão de tais sites ou recursos.</p>
    <p>O USUÁRIO é único e exclusivo responsável pela veracidade das informações que incluir no site Beenews, estando o Beenews livre de qualquer prejuízo proveniente da
      falsidade ou imprecisão das informações preenchidas. O USUÁRIO reconhece e concorda que o Beenews não é um serviço turístico e que não são realizados serviços que
      requerem a presença de uma empresa especializada.</p>
    <p>O USUÁRIO declara estar ciente de que o Beenews pode a qualquer tempo, unilateralmente e sem qualquer aviso prévio deixar de fornecer os serviços, alterar suas
      características ou criar restrições para o uso ou acesso dos serviços. O Beenews se reserva o direito de desconectar o USUÁRIO de sua conta caso o usuário não cumpra
      esse Termo de uso, ou no caso de conhecimento da falsidade ou da má-fé empregadas pelo USUÁRIO. A reincidência da conduta poderá levar ao encerramento de sua conta e o
      bloqueio ao acesso e utilização do serviço, podendo impedir seu posterior regresso aos serviços oferecidos, sem direito a qualquer tipo de compensação. Na hipótese de
      qualquer medida, seja ela judicial ou não, tomada por terceiros contra o Beenews, em razão de qualquer conteúdo postado, publicado ou de qualquer outra forma disponibilizado
       pelo USUÁRIO nos serviços, será encaminhado para o USUÁRIO, e poderemos fornecer a Justiça dados como Nome, Endereço e IP do USUÁRIO.</p>
    <p>A forma de contato e suporte do USUÁRIO para com o Beenews será realizado prioritariamente pela Internet, através do formulário de contato disponibilizado no website.</p>

    <h4>4. Conteúdo de Usuário</h4>
    <p>O conteúdo criado no Beenews é oriundo dos seus usuários. Dessa forma, o Beenews age como um mero intermediário de hospedagem e, como tal, não exerce controle editorial prévio
      sobre o que é publicado. O USUÁRIO é único responsável pelo Conteúdo e assume todos os riscos e responsabilidades relacionados a ele, ou a seu uso, incluindo qualquer divulgação
      de informações feitas que permita que terceiros o identifiquem. O Beenews não endossa nem assume qualquer responsabilidade por qualquer Conteúdo de Usuário. O Beenews não assume
      responsabilidade pela fiscalização do Site com relação a conteúdo ou conduta imprópria. Ao utilizar o Site, você (a) cede ao Beenews, de forma definitiva, irretratável e perpétua
      todos os direitos autorais patrimoniais relativos ao seu Conteúdo de Usuário. O Beenews poderá utilizar livremente o seu Conteúdo de Usuário no Brasil e no exterior, incluindo,
      mas não se limitando a, copiá-lo, modificá-lo, adaptá-lo, traduzi-lo, armazená-lo, reproduzi-lo, transmiti-lo, distribuí-lo, promovê-lo, e permitir que terceiros façam o mesmo
      através dos seus próprios canais e (b) concorda em pagar todos os royalties, indenizações e qualquer outra quantia que venha a ser devida a terceiros em razão de qualquer conteúdo
      fornecido por você. Você afirma que tem a capacidade legal e o direito de conceder a licença expressa nesta cláusula. O cancelamento de sua conta no Site não implica revogação desta cessão.</p>

    <h4>5. Restrições na utilização do aplicativo</h4>
    <p>Podemos nos recusar a publicar, remover ou repor qualquer Conteúdo de Usuário a nosso critério e a qualquer momento, sem aviso prévio. Não temos nenhuma obrigação de manter ou
      fornecer-lhe cópias de seu Conteúdo de Usuário, nem podemos garantir sua confidencialidade. É expressamente proibido:</p>
    <p>Publicar ou transmitir qualquer conteúdo de índole fraudulenta, obscena, ofensiva, violenta, discriminatória, difamatória, rácica, incluindo linguagem ou qualquer ato
      que atente contra a privacidade, a dignidade e os direitos fundamentais do ser humano</p>
    <p>Publicar ou transmitir todo e qualquer conteúdo que infrinja os direitos de propriedade industrial ou intelectual</p>
    <p>Interferir com o funcionamento do aplicativo ou com o uso de outro usuário do aplicativo</p>
    <p>Violar qualquer lei aplicável, regulamento, direitos de terceiros, os Termos de uso ou as normas de bons costumes</p>
    <p> Publicar spam, esquemas de pirâmide, materiais de propaganda, corrente, lixo eletrônico, ou mensagens em massa, quer seja de natureza comercial ou não</p>
    <p>Promover informação falsa ou enganosa, atividades ilegais ou conduta inadequada</p>
    <p>Rotina de programação que possa interferir, danificar, interceptar ou apropriar qualquer sistema, dados ou informações pessoais (por exemplo, vírus, cavalos de Tróia, worms)</p>
    <p> Solicitar, registrar ou processar informações pessoais de outros usuários</p>
    <p>Engenharia reversa de qualquer parte do aplicativo</p>
    <p>Utilizar qualquer dispositivo automatizado, processo ou meio (ex. crawling, robôs, spiders, etc.) para recuperar, indexar, furtar, ou acessar o aplicativo ou o seu conteúdo;
      ou para qualquer outra finalidade</p>
    <p>Enviar qualquer conteúdo de forma anônima ou de maneira que não seja possível identificar sua autoria</p>
    <p>Obter acesso não autorizado ao aplicativo através de hacking, exploração de senha ou qualquer outro meio</p>
    <p>Editar, copiar, gravar, reproduzir, distribuir, traduzir, exibir publicamente, vender, trocar ou de qualquer forma explorar o aplicativo ou o seu conteúdo</p>
    <p>Incluir uma foto em que haja uma ou mais pessoas em primeiro plano ou em que haja outra pessoa sem o seu consentimento por escrito</p>

    <h4>6. Disposições Finais </h4>
    <p>Este Termo de uso constitui o contrato integral entre você e o Beenews em relação ao uso do Site. O fato do Beenews não ter exercido, citado ou
      executado qualquer direito ou disposição do contrato não significa uma renúncia a tal direito ou disposição. Este contrato se aplica na máxima
      extensão permitida por lei. Se qualquer parte destes Termos e Condições for tida como inválida ou inexecutável em conformidade com a lei aplicável,
      inclusive mas não apenas as declarações de isenção de garantia e limitações de responsabilidade civil dispostas acima, o dispositivo inválido ou
      inexeqüível será considerado substituído por um dispositivo válido e exeqüível que se equipare da melhor maneira possível à intenção do dispositivo
      original e todos os Termos e Condições restantes continuarão em efeito. A declaração de nulidade de qualquer cláusula ou item deste Contrato não
      prejudicará as demais, que continuarão em vigor e deverão ser integralmente cumpridas.</p>
    <p>Qualquer ponto de dúvida, deve ser questionado diretamente no formulário de contato disponibilizado no website.</p>
</ion-content>
