<ion-header>
  <ion-navbar color="beenews">
    <ion-toolbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          <img src="assets/imgs/logo.png" class="beenews-logo"/>
      </ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Política de Privacidade</h3>
    <p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua experiência no nosso site a mais produtiva e agradável possível. A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o Beenews. Todas as informações pessoais relativas a membros, usuários ou visitantes que usem o Beenews serão tratadas em concordância com a Leis vigentes no pais. A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou celular, endereço, data de nascimento e/ou outros. O uso do Beenews pressupõe a aceitação deste Acordo de privacidade. O Beenews reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>

    <h4>Cadastro</h4>

    <p>Para usufruir de recursos adicionais da Beenews, você precisa se cadastrar no Beenews. Este cadastro é armazenado em um banco de dados protegido e sigiloso. Qualquer comunicação enviada para seu e-mail será através do boletim periódico ou resultado de alguma ação. Seu email não será divulgado. Caso você não queira mais receber comunicados diretos do Beenews, poderá enviar uma mensagem através do formulário de contato diponível no website, solicitando cancelamento da conta. Pode ser que a exclusão e consequente cancelamento não ocorram de maneira imediata, devido à manutenção e/ou atualização dos servidores ativos. Contudo, caso o encerramento demore mais que o esperado para se efetivar, o usuário poderá entrar em contato diretamente com o Beenews informando sua situação.</p>
</ion-content>
