<ion-header>
  <ion-navbar color="dark">
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Cinema</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item>
    <button (click)="goToCineList()" ion-button icon-end>Lista de cinemas <ion-icon name="list"></ion-icon></button>
  </ion-item>
  <h2>Filmes em cartaz</h2>
  <ion-card *ngFor="let movie of movies">
    <ion-item>
      <h2>{{movie.original_title}}</h2>
      <p>Lançamento: {{movie.created_at | amDateFormat: 'DD-MM-YYYY'}}</p>

    </ion-item>
    <img src="{{movie.picture}}">
    <ion-row>
      <ion-col>
        <button (click)="movieView(movie)" ion-button icon-start clear small>
          <ion-icon name="list"></ion-icon>
          <div>Detalhes</div>
        </button>
      </ion-col>

      <ion-col>
        <button (click)="movieSchedule(movie)" ion-button icon-start clear small>
          <ion-icon name="calendar"></ion-icon>
          <div>Exibição</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
