<ion-header>
  <ion-navbar color="dark">
    <ion-buttons end>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{movie.original_title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-item>

      <h2>{{movie.original_title}}</h2>
      <p>Lançamento: {{movie.created_at | amDateFormat: 'DD-MM-YYYY'}}</p>
    </ion-item>

    <img src="{{movie.picture}}">
    <ion-card-content>
      <p>{{movie.synopsis}}</p>
    </ion-card-content>

  </ion-card>
</ion-content>
