<ion-header>
  <ion-navbar>
    <ion-title>Editar Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <form [formGroup]="myAccountForm" (ngSubmit)="editAccount()">
        <ion-item>
          <ion-label floating>Nome completo</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Telefone</ion-label>
          <ion-input type="tel" formControlName="phone" [brmasker]="{phone: true}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Sobre</ion-label>
          <ion-textarea type="text" formControlName="about"></ion-textarea>
        </ion-item>
        <button
        ion-button
        block
        class="button-round-md submit-btn"
        color="beenews"
        type="submit"
        [disabled]="!myAccountForm.valid">Alterar Dados</button>
      </form>
    </ion-list>
</ion-content>
