page-confirm-password {
  .content-page{
    bottom: 0;
    min-height: initial;
    top: initial;
    height: 35%;
    margin-bottom: 0px;
  }

  .transparent {
    background-color: black;
    opacity: 0.2;
  }

  .submit-btn {
    margin-top: 20px;
  }
}
