<ion-content tappable (click)="closeModal()" class="transparent">
  </ion-content>

  <ion-content padding class="content-page">
    <h5>Confirmar Senha</h5>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <button
      ion-button
      block
      class="button-round-md submit-btn"
      color="beenews"
      type="submit"
      (click)="confirmPassword()">Confirmar senha</button>
</ion-content>
