<ion-header>
  <ion-navbar [ngClass]='editorialBgColor'>
    <ion-title>{{editorial.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div id="page-content">
    <!--Add sidebar-move to move with body-->
    <div id="page-content-scroll">
      <!--Enables this element to be scrolled -->

      <div class="card-large-layout-page">
        <div *ngFor="let publication of editorialPublications" class="card-large-layout" style="display: block;" (click)="publicationView(publication.id)">
          <div>
            <img class="responsive-image preload-image" style="display: block;" src="{{publication.cover_image}}" alt="img">
            <strong>{{publication.title}}</strong>
            <div class="card-date-posted">
              <em><u>{{publication.created_at | amLocale:'pt-BR' |amTimeAgo}}.</u></em>
            </div>

          </div>
          <p [innerHtml]="(publication.content).substring(0,100).concat('...')"></p>
          <!-- <a (click)="publicationView(publication.id)" class="badge-read">Ler mais</a> -->

        </div>
      </div>
      <div class="content">
        <div class="decoration"></div>
        <button
        *ngIf="btn_visible"
        ion-button
        block
        [ngClass]='editorialBgColor'
        class="button-round-md"
        (click)="moreNews()">Mais notícias</button>
      </div>

      <app-footer></app-footer>
    </div>
    <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>
  </div>
</ion-content>
