page-editorial-publications-view {
  .card-date-posted {
    margin-top: 5px;
  }

  .toolbar-title {
    color: white;
  }

  strong {
    background: rgba(26, 30, 35, 0.9) !important;
    color: white !important;
  }

  .card-large-layout em{
    color: white;
  }

  .card-large-layout u{
    color: white;
    font-weight: 500;
  }

  .bar-button {
    color: white;
  }

  .bg-noticias .toolbar-background {
    background-color: #2c3e50;
  }

  .bg-esportes .toolbar-background {
    background-color: #2abb67;
  }

  .bg-entretenimento .toolbar-background {
    background-color: #2980b9;
  }

  .bg-cultura .toolbar-background {
    background-color: #8e44ad;
  }

  .bg-noticias {
    background-color: #2c3e50;
  }

  .bg-esportes {
    background-color: #2abb67;
  }

  .bg-entretenimento {
    background-color: #2980b9;
  }

  .bg-cultura {
    background-color: #8e44ad;
  }

  .card-large-layout p {
    margin-bottom: 0px;
    padding: 0px 20px 0px 10px;
  }

  .card-large-layout {
    margin-bottom: 5px;
  }
}
