<ion-header>
    <ion-navbar>
      <img src="assets/imgs/logo.png" class="beenews-logo"/>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>Cadastrar</h5>
  <ion-list>
    <form [formGroup]="loginForm" (ngSubmit)="signUp()">
      <ion-item>
        <ion-label floating>Nome Completo</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input #password type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirmar Senha</ion-label>
        <ion-input #password_repeat type="password" formControlName="password_repeat"></ion-input>
      </ion-item>
      <button
      ion-button
      block
      class="button-round-md submit-btn"
      color="beenews"
      type="submit"
      [disabled]="(!loginForm.valid || (password.value!=password_repeat.value))">Entrar</button>
    </form>
  </ion-list>
</ion-content>
